*.ss~
*.ss#*
.#*.ss

*.scm~
*.scm#*
.#*.scm

# Chez 编译产物
*.so
*.wpo

# Chandler 生成物
/vendor/
/lib/
chandler-setup.ss
.chandler-run.ss
.chandler-repl.ss
.chandler-install.ss
.chandler-build.ss

# bake 编译产物
_build/
/build/
