*.ss~
*.ss#*
.#*.ss

*.scm~
*.scm#*
.#*.scm

# Chez 编译产物
*.so
*.wpo

# Chandler 生成物
/_vendor/
chandler-manifest.lock
# bootstrap.ss 的一段式自举前缀(_bootstrap/{bin,chandler,.registry})
/_bootstrap/
# `chandler pack` 的默认输出目录(pack/core.ss 的 out 缺省值)
/dist/
chandler-setup.ss
.chandler-run.ss
.chandler-repl.ss
.chandler-install.ss
.chandler-build.ss

# bake 编译产物
_build/
/build/

.sisyphus/
