*.ss~
*.ss#*
.#*.ss

*.scm~
*.scm#*
.#*.scm

# Chez 编译产物
*.so
*.wpo

# Chandler 生成物
/_vendor/
# bootstrap.ss --dev 的本地前缀(dist/{bin,chez})
/dist/
chandler-setup.ss
.chandler-run.ss
.chandler-repl.ss
.chandler-install.ss
.chandler-build.ss

# bake 编译产物
_build/
/build/

.sisyphus/
